* {
    box-sizing: border-box;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    list-style-type: none;
}

.jumbotron {
    color: white;
    text-align: center;
    font-weight: 700;
    background-color: transparent !important;
}

.container-fluid {
    color: white;
}

.jumbotron h1 {
    font-size: 4em;
    font-weight: 200;
}


.jumbotron h2 {
    font-size: 1.5em;
    font-weight: 200;
}

div #perfil-text {
    font-size: 0.5em;
}

#perfil {
    width: 15vw;
}

video {
    display: block;
    position: absolute;
    object-fit: cover;
    overflow: visible;
    right: 0;
    top: 0;
    width: 100%;
    height: 50em;
    z-index: -1;
}

h5 {
    text-align: center;
    line-height: 1.5em !important;
}

[class|="col"] {
    text-align: center;
}

.card i {
    font-size: 2em;
    padding: 1em 0;
}

hr{
    width: 50vw;
}

.card hr {
    background-color: white;
    width: 20vw;
}
.card {
    color:white;
    transition: transform 300ms ease, box-shadow 300ms ease;
}

.card:hover {
    transform: scale(1.01, 1.01);
    box-shadow: gray 0px 5px 10px;
}

.card-deck .card:hover {
    transform: scale(1.02, 1.02);
    box-shadow: gray 0px 7px 10px;
}

.card-deck {

    margin: 0 20%;
}

.btn i {
    width: 2em;
    line-height: 2em;
    color: hotpink;
    display: inline-block;
    background-color: rgb(222, 236, 17);
    border-radius: 50%;
    transition: all 320ms ease;
    margin: -3em;
}

.btn i:hover {
    background-color: hotpink;
    color: white;
    transform: scale(1.1, 1.1);
}

.btn a {
    font-size: 3em;
    margin: 3em;
}

footer div {
    margin-bottom: 20px;
}

footer i:hover {
    color: red;
    transform: scale(1.1, 1.1);
}

footer i {
    transition: all 300ms ease-out;
}