* {
    box-sizing: border-box;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    list-style-type: none;
}

.jumbotron {
    color: white;
    text-align: center;
    font-weight: 700;
    background-color: transparent !important;
}

.container-fluid {
    color: white;
}

.jumbotron h1 {
    margin-top: 15rem !important;
    font-size: 4em;
    font-weight: 200;
}

.jumbotron h2 {
    font-size: 1.5em;
    font-weight: 200;
}

.container-fluid .card {
    margin-top: 15rem !important;
}

div #perfil-text {
    font-size: 0.5em;
}

#perfil {
    width: 15rem;
}

#contacto, #redes {
    color: white;
}

video {
    display: inline-block;
    position: fixed;
    object-fit: cover;
    overflow: hidden;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}
#skills h2{
    color: white;
}

h5 {
    text-align: center;
    line-height: 1.5em !important;
}

[class|="col"] {
    text-align: center;
}

.card i {
    font-size: 2em;
    padding: 1em 0;
}

hr{
    width: 50vw;
    background-color: white;
    margin-bottom: 20rem;
}

.card hr {
    background-color: white;
    width: 20vw;
}

.card a {
    color: rgb(222, 236, 17);
}

.card a:hover {
    color: hotpink;

}

.card {
    color:white;
    background-color: rgb(41, 41, 41) !important;
    transition: all 300ms ease;
    border-radius: 40px !important;
}

.card:hover {
    transform: scale(1.01, 1.01);
    box-shadow: gray 0px 5px 10px;
}

.card-deck .card:hover {
    color: black;
    background-color: rgb(255, 255, 255) !important;
    transform: scale(1.02, 1.02);
    box-shadow: gray 0px 7px 10px !;
}

.card-deck .card:hover a {
    color: hotpink;
}
.card-deck .card {
    background-color: rgb(41, 41, 41) !important;
    border-radius: 20px !important;
}

.btn i {
    width: 2em;
    line-height: 2em;
    color: hotpink;
    display: inline-block;
    background-color: rgb(222, 236, 17);
    border-radius: 50%;
    transition: all 320ms ease;
    margin: -3em;
}

.btn i:hover {
    background-color: hotpink;
    color: white;
    transform: scale(1.1, 1.1);
    box-shadow: gray 0px 7px 10px;
}

.btn a {
    font-size: 3em;
    margin: 3em;
}

footer .container {
    color: white;
}
footer div {
    margin-bottom: 20px;
}

footer i:hover {
    color: red;
    transform: scale(1.1, 1.1);
}

footer i {
    transition: all 300ms ease-out;
}

footer a {
    color: rgb(222, 236, 17);
}

#button {
    margin: 20px !important;
    transition: all 300ms ease;
}

#button:hover {
    transform: scale(1.1, 1.1);
    box-shadow: gray 0px 5px 10px;
}